div{
    border: 1px solid;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px grey;
    cursor: pointer;
    user-select:none;
    transition: .2s ease-in-out;
}

div:active{
    box-shadow: none;
}

.inactive{
    box-shadow: none;
    pointer-events: none;
}